@import 'tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html,
body {
  @apply w-full h-full;
  font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
  /* Disable web page navigation on swipe(back and forward) */
  /* overscroll-behavior-x: none; */
}

html {
  ::-webkit-scrollbar {
    @apply w-8 h-4 bg-gray-200 hover:bg-gray-300;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    @apply rounded-xl;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply h-4 rounded-xl bg-gray-400 transition-all hover:bg-gray-500;
  }
}

body {
  direction: ltr;
}
