.login-container {
    width: 100%;
    max-width: 420px;
    height: auto;
    min-height: 580px;
    max-height: unset;
    overflow: hidden auto;
    position: relative;
}

.login-wrapper {
    width: 100%;
    @apply py-16 px-40;
}

.app-icon {
    width: 100%;
    @apply flex justify-center mt-8 mb-8;
    padding-top:  60px;
    padding-bottom:  50px;
}

.app-icon img {
    max-width: 100px;
    height: auto;
}

.input-wrapper {
    width: 100%;
}

.input-wrapper input {
    width: 100%;
    min-height: 38px;
    @apply px-12 py-8 mt-4;
    font-size: 14px;
    color: #686969;
    background: #f0f0f0;
}

.input-wrapper input:focus, .input-wrapper input:active {
    border: none;
    outline: none;
}

.input-wrapper label {
    font-weight: 400;
    font-size: 13px;
    color: #bfbfbf;
}

.help-link {
    @apply mt-12;
    text-align: right;
}

.help-link a {
    font-weight: 400;
    font-size: 13px;
    color: #bfbfbf;
}

.help-link a:hover {
    text-decoration: underline;
}

.help-link a:focus, a:active {
    outline: none;
}

.btn {
    width: 100%;
    height: 35px;
    @apply block mt-16;
    font-size: 13px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(90deg, rgba(224,220,249,1) 40%, rgba(225,239,248,1) 100%);;
}

.error-message {
    height: 0;
    @apply mt-12;
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: orangered;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease;
}

.error-active {
    height: 38px !important;
    min-height: 38px;
    visibility: visible;
    opacity: 1;
}